<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>hionFas</display-name>
  <welcome-file-list>
    <welcome-file>HomeServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>controller.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuickViewServlet</display-name>
    <servlet-name>QuickViewServlet</servlet-name>
    <servlet-class>controller.QuickViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuickViewServlet</servlet-name>
    <url-pattern>/QuickViewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHomeServlet</display-name>
    <servlet-name>AdminHomeServlet</servlet-name>
    <servlet-class>controller.AdminHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHomeServlet</servlet-name>
    <url-pattern>/AdminHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductsServlet</display-name>
    <servlet-name>ProductsServlet</servlet-name>
    <servlet-class>controller.ProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsServlet</servlet-name>
    <url-pattern>/ProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductsServlet</display-name>
    <servlet-name>AdminProductsServlet</servlet-name>
    <servlet-class>controller.AdminProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductsServlet</servlet-name>
    <url-pattern>/AdminProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUploadFile</display-name>
    <servlet-name>AdminUploadFile</servlet-name>
    <servlet-class>controller.AdminUploadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUploadFile</servlet-name>
    <url-pattern>/AdminUploadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductsCreateServlet</display-name>
    <servlet-name>AdminProductsCreateServlet</servlet-name>
    <servlet-class>controller.AdminProductsCreateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductsCreateServlet</servlet-name>
    <url-pattern>/AdminProductsCreateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductsEditServlet</display-name>
    <servlet-name>AdminProductsEditServlet</servlet-name>
    <servlet-class>controller.AdminProductsEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductsEditServlet</servlet-name>
    <url-pattern>/AdminProductsEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductsDeleteServlet</display-name>
    <servlet-name>AdminProductsDeleteServlet</servlet-name>
    <servlet-class>controller.AdminProductsDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductsDeleteServlet</servlet-name>
    <url-pattern>/AdminProductsDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductsImageServlet</display-name>
    <servlet-name>AdminProductsImageServlet</servlet-name>
    <servlet-class>controller.AdminProductsImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductsImageServlet</servlet-name>
    <url-pattern>/AdminProductsImageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductsDetailServlet</display-name>
    <servlet-name>AdminProductsDetailServlet</servlet-name>
    <servlet-class>controller.AdminProductsDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductsDetailServlet</servlet-name>
    <url-pattern>/AdminProductsDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductsSizeColorServlet</display-name>
    <servlet-name>AdminProductsSizeColorServlet</servlet-name>
    <servlet-class>controller.AdminProductsSizeColorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductsSizeColorServlet</servlet-name>
    <url-pattern>/AdminProductsSizeColorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductsImageDeleteServlet</display-name>
    <servlet-name>AdminProductsImageDeleteServlet</servlet-name>
    <servlet-class>controller.AdminProductsImageDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductsImageDeleteServlet</servlet-name>
    <url-pattern>/AdminProductsImageDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminProductsImageAddServlet</display-name>
    <servlet-name>AdminProductsImageAddServlet</servlet-name>
    <servlet-class>controller.AdminProductsImageAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminProductsImageAddServlet</servlet-name>
    <url-pattern>/AdminProductsImageAddServlet</url-pattern>
  </servlet-mapping>
</web-app>