<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>hionFas</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>HomeSliderServlet.java</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomeSliderServlet</display-name>
    <servlet-name>HomeSliderServlet</servlet-name>
    <servlet-class>controller.HomeSliderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeSliderServlet</servlet-name>
    <url-pattern>/HomeSliderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductCategoriesServlet</display-name>
    <servlet-name>ProductCategoriesServlet</servlet-name>
    <servlet-class>controller.ProductCategoriesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductCategoriesServlet</servlet-name>
    <url-pattern>/ProductCategoriesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductsServlet</display-name>
    <servlet-name>ProductsServlet</servlet-name>
    <servlet-class>controller.ProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductsServlet</servlet-name>
    <url-pattern>/ProductsServlet</url-pattern>
  </servlet-mapping>
</web-app>